<section class="home">
    <article>
        {{#each payload}}
        <div class="card">
            <header>
                <h2>{{this.title}}</h2>
            </header>
            <main>
                <p>{{this.category}}</p>
            </main>
            <footer>
                <p>{{this.description}}</p>
                <p>{{this.createdAt}}</p>
                <main class="btn-group">
                    <span class="view_more">
                        <a href="/note/{{this._id}}">View More</a>
                    </span>
                    <span class="view_more">
                        <a href="/note/edit/{{this._id}}">Edit Note</a>
                    </span>
                    <span class="view_more">
                        <form action="/note/delete-note/{{this._id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit">Delete Note</button>
                        </form>
                    </span>
                </main>
            </footer>
        </div>
        {{else}}
        <h1>No Note Found Here</h1>
        {{/each}}
    </article>
</section>
